In [34]:
class ageinfo(Exception):
    pass
age_input = input('enter your age : ')
try:
    if age_input.strip() == '':
        raise ageinfo('Enter a proper age! ')
    age = int(age_input)
    if age <= 18:
        raise ageinfo('your not eligible to vote!')
    else:
        raise ageinfo('your eligible to vote')
except ValueError:
    print('strings are not allowed ')
except ageinfo as e:
    print(e)

enter your age : qwe
strings are not allowed

In [ ]:
def mainfun(func):
    def wrapper():
        print('before function')
        func()
        print('after function')
    return wrapper

@mainfun
def valuess():
    for i in range(1, 10):
        print(i)

valuess()

In [63]:
def vals(func):
    def wrapper(x,y):
        return func(x,y)*10
    return wrapper

@vals
def num(x,y):
    return (x+y)
c=num(12,22)
print(c)

340

In [71]:
def aa(*args):
    for i in args:
        print(i)
aa('narsimha',1,2,3,4)

narsimha
1
2
3
4

In [72]:
def vals(**na):
    for key,val in na.items():
        print(f"{key}:{val}")
vals(name='narsimha')

name:narsimha

In [74]:
name = 'narsimha'
x=''
y=''
for i in name:
    if name.count(i)>1 and i not in y:
        y+=i
print(y)

for i in name:
    if i not in x:
        x+=i
print(x)

a
narsimh

In [75]:
nums=[9,2,3,4,2,4,5,5,5,6,7,8,8]
v=[]
for i in nums:
    if i not in v:
        v.append(i)
print(v)

[9, 2, 3, 4, 5, 6, 7, 8]

In [81]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i][1]>l[j][1]:
            l[i],l[j]=l[j],l[i]
print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [85]:
x=['m','na','i','Nar']
y=['y','me','s','simha']
for i in x:
    for j in y:
        if x.index(i)==y.index(j):
            print(i+j,end=' ')

my name is Narsimha

In [86]:
n=3
for i in range(1,11):
    print(n,"*",i,"=",n*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [96]:
x=[1,2,3,4,5,6,5,4,3,7,8,9,9]
y=[i for n,i in enumerate(x) if i not in x[:n]]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
sen="I LOVE PYTHON"
y=sen.split()
d=[]
for i in y:
    d.append(i[::-1])
d

['I', 'EVOL', 'NOHTYP']

In [104]:
x=[4,2,3,5,6]
target=8
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]+x[j] == target:
            print([x[i],x[j]])

[2, 6]
[3, 5]

In [105]:
a=0
b=1
print(a)
print(b)
for i in range(2,10):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [109]:
fact = 1
for i in range(1,6):
    fact=fact*i
print(fact)

120

In [114]:
x=1234
sum = 0
while x>0:
    t= x%10
    sum+=t
    x=x//10
print(sum)

10

In [131]:
x=[1,2,3,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,4,6,6,6,6,66,6,6,6,66,6,6,6,6,6,6,6,6,6,6,6,6]
c={}
for i in x:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
print(c,"******")
high = 0
common = None
for i , j in c.items():
    if j>high:
        high = j
        common = i
print(common)

{1: 1, 2: 21, 3: 4, 4: 2, 6: 19, 66: 2} ******
2

In [145]:
l=0
u=10
for num in range(l,u+1):
    if num>1:
        for i in range(2,num):
            if num%i == 0:
                break
        else:
            print(num)

2
3
5
7

In [166]:
x="name:narsimha,age;23,deg:Software"
x=x.replace(';',':')
x=x.split(',')
c={}
for i in x:
    a,b = i.split(':')
    c[a]=b
c

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [171]:
a={'name':'vasu','id':3,'deg':15,'amount':25} 
sum=0
for i,j in a.items():
    sum+=len(i)+len(str(j))
print(sum)

24

In [175]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
key = []
val =[]
for i,j in a.items():
    key.append(i)
    val.append(j)
a=key[::-1]
b=val[::-1]
c= dict(zip(a,b))
c

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [181]:
x=[{"name":"hari","id":1},{"name":"ganesh","id":2},{"name":"simha","id":2},{"name":"hari","id":1}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['id']>x[j]['id']:
            x[i],x[j]=x[j],x[i]
print(x)

[{'name': 'hari', 'id': 1}, {'name': 'hari', 'id': 1}, {'name': 'simha', 'id': 2}, {'name': 'ganesh', 'id': 2}]

In [191]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
a=a.split()
c=[]
for i in range(len(a)):
    if i%2!=0:
        xx = a[i]
        ll =xx[::-1]
        c.append(ll)
    else:
        c.append(a[i])
c

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [194]:
x =['john','john','johnny','jackie','johnny','john','jackie','jamie','jamie','john','johnny','jamie','johnny','john']
c={}
for i in x:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
m=0
d=None
for i,j in c.items():
    if j>m:
        m=j
        d=i
print(c)

{'john': 5, 'johnny': 4, 'jackie': 2, 'jamie': 3}

In [14]:
rn = { 'I': 1,'V': 5,'X': 10,'L': 50,'C': 100,'D': 500,'M': 1000}
val = input('select a value : ')
rom = val[0]
length = len(val)
value = rn[rom]
sum=0
for i in range(1,length+1):
    sum+=value
print(sum)

select a value : VXL
15

In [18]:
rn = { 'I': 1,'V': 5,'X': 10,'L': 50,'C': 100,'D': 500,'M': 1000}
val = input('Enter a value')
sum = 0
for i in val:
    v = rn[i]
    sum+=v
print(sum)

Enter a valueLCDM
1650

In [24]:
a=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]

for i in a:
    count = 0
    l=[]
    for j in i['city']:
        if j[0]=='A':
            count+=1
            l.append(j)
        i['city']=count
        i['city with a ']=l
print(a)

[{'name': 'AP', 'city': 2, 'city with a ': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 2, 'city with a ': ['Abd', 'Ade']}]

In [ ]:
a=[{ 'name': 'andhra', 'city': ['nellore', 'guntur'] }, { 'name': 'telangana', 'city': ['Hyd', 'varangal'] }]

In [27]:
def primenum(func):
    def wrapper(x,y):
        for num in range(x,y+1):
            if num>1:
                for j in range(2,num):
                    if num%j==0:
                        break
                else:
                    print(num)
        return func(x,y)
    return wrapper
@primenum
def add(a,b):
    print('nums',a,b)
d=add(0,20)

2
3
5
7
11
13
17
19
nums 0 20