In [9]:
x="name:narsimha,age;23,deg:Software"
s=x.replace(';',':')
c=s.split(',')
k=[]
v=[]
for i in c:
    key,value=i.split(':')
    k.append(key)
    v.append(value)
d=dict(zip(k,v))
d

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [18]:
a='vasu:1,raju:2,vasu:3'
s=a.split(',')
c=[]
for i in s:
    key,value=i.split(':')
    c.append({'name':key,'id':value})
print(c)

[{'name': 'vasu', 'id': '1'}, {'name': 'raju', 'id': '2'}, {'name': 'vasu', 'id': '3'}]

In [20]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
x=[]
y=[]
for i,j in a.items():
    x.append(i)
    y.append(j)
s=x[::-1]
d=y[::-1]
z=dict(zip(s,d))
z

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [20]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
b=list(a.items())
for i in range(len(b)):
    for j in range(i+1,len(b)):
        if b[i]>b[j]:
            b[i],b[j]=b[j],b[i]
c=dict(b)
c

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [22]:
a={'name':'vasu','id':3,'deg':15,'amount':25} 
c=''
b=''
for i,j in a.items():
    c=c+i
    b=b+str(j)
z=len(c+b)
z

24

In [25]:
x=[{"name":"hari","id":1},{"name":"ganesh","id":2},{"name":"simha","id":2},{"name":"zee","id":1},{"name":"zee","id":1}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['id']>x[j]['id']:
            x[i],x[j]=x[j],x[i]
print(x)

[{'name': 'hari', 'id': 1}, {'name': 'zee', 'id': 1}, {'name': 'zee', 'id': 1}, {'name': 'ganesh', 'id': 2}, {'name': 'simha', 'id': 2}]

In [30]:
l = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
for i in l:
    for j in i.values():
        print(j)

S001
S002
S001
S005
S005
S009
S007

In [32]:
a={'name':'vasu', 'amount':40}
c=''
for i,j in a.items():
    c=c+i+str(j)
print(len(c))

16

In [7]:
d={'a':3,'b':5,'c':2,'d':1,'e':-2}
a=sorted(d)
for key in a:
    print(key,d[key])

a 3
b 5
c 2
d 1
e -2

In [13]:
d={'a':3,'b':5,'c':2,'d':1,'e':-2}
a=str(d.items())
b=a.split(',')
p

SyntaxError: invalid syntax (2363813653.py, line 4)

In [41]:
a=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
for i in a:
    sum=0
    c=[]
    for j in i['city']:
        sum=sum+1
        if j[0]=='a' or j[0]=='A':
            c.append(j)
            i['city']=sum
            i['cityA']=c
a

[{'name': 'AP', 'city': 3, 'cityA': ['Amravathi', 'Anakala']},
 {'name': 'MP', 'city': 3, 'cityA': ['Abd', 'Ade']}]

In [46]:
x=[[1,2,3],[3,4,2],[4,6,2]]
U=[]
for i in x[0]:
    for j in x[1]:
        for k in x[2]:
            if i==j and j==k:
                U.append(j)
U

[2]

In [21]:
a='narsimha'
b='ch'
c=a+b
c

'narsimhach'

In [57]:
x=[1,2,3,2,4,5,6,7,7,9,3,4]
y=[]
for i in x:
    if x.count(i)>1 and i not in y:
        y.append(i)
y

[2, 3, 4, 7]

In [72]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
x=a.replace(' ',',')
s=x.split(',')
d=[]
for i in range(len(s)):
    if i%2==1:
        c=s[i]
        e=c[::-1]
        d.append(e)
    else:
        d.append(s[i])
d

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [83]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
x=[]
for i in l:
    x.append(i[1])
s=sorted(x)
d=[]
for i in s:
    for j in l:
        if j[1]==i:
            d.append(j)
d

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [84]:
x=['m','na','i','Nars']
y=['y','me','s','simha']
c=[]
for i in x:
    for j in y:
        if x.index(i)==y.index(j):
            c.append(i+j)
c

['my', 'name', 'is', 'Narssimha']

In [22]:
a=['Mouri']
b=['TECH']
c=[]
for i in a:
    for j in b:
        if a.index(i)==b.index(j):
            c.append(i+j)
c

['MouriTECH']

In [37]:
s='oiuytredsxdcfghjopp09876543567890'
k=[]
for i in s:
    if i.isdigit():
        k.append(i)
k

['0', '9', '8', '7', '6', '5', '4', '3', '5', '6', '7', '8', '9', '0']

In [30]:
x='Narsimha CHELLABOINA'
u=''
s=''
for i in x:
    if i.isupper():
        u=u+i
    else:
        s=s+i
print(u)
print(s)

NCHELLABOINA
arsimha

In [86]:
l=['aba','xyz','abc','1221']
c=0
for i in l:
    if i[0]==i[-1]:
        c=c+1
print(c)

2

In [87]:
n=5
for i in range(n):
    for j in range(i+1,n):
        print('*',end='')
    print()

****
***
**
*

In [88]:
n=5
for i in range(n):
    for j in range(i+1,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [92]:
n=6
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [96]:
n=6
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *

In [105]:
n=6
for i in range(n):
    for j in range(i,n-1):
        print('*',end=' ')
    for j in range(i+1):
        print(' ',end=' ')
     
    print()

* * * * *
* * * *
* * *
* *
*

In [107]:
x=[{'name':'abhi','age':23,'sal':20000},{'name':'vamsi','age':26,'sal':21000},{'name':'ravi','age':23,'sal':19000},{'name':'shiva','age':24,'sal':18000}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['age']>x[j]['age']:
            x[i],x[j]=x[j],x[i]
x

[{'name': 'abhi', 'age': 23, 'sal': 20000},
 {'name': 'ravi', 'age': 23, 'sal': 19000},
 {'name': 'shiva', 'age': 24, 'sal': 18000},
 {'name': 'vamsi', 'age': 26, 'sal': 21000}]

In [114]:
a=[{ 'name': 'andhra', 'city': ['nellore', 'guntur'] }, { 'name': 'telangana', 'city': ['Hyd', 'varangal'] }]
#Â  output: {states:['andhra','telangana'],cities:[{name:'nellore',state:'andhra'},{name:'guntur',state:'andhra'}]}
states=[]
cities_with_state=[]
for i in a:
    states.append(i['name'])
    for j in i['city']:
        cities_with_state.append({'name':j,'states':i['name']})
y={'states':states,'cities':cities_with_state}
print(y)

{'states': ['andhra', 'telangana'], 'cities': [{'name': 'nellore', 'states': 'andhra'}, {'name': 'guntur', 'states': 'andhra'}, {'name': 'Hyd', 'states': 'telangana'}, {'name': 'varangal', 'states': 'telangana'}]}

In [117]:
for i in range(7,11):
    print('3','*',i,'=',3*i)
for i in range(1,7):
    print('3','*',i,'=',3*i)

3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

In [119]:
x=[1,2,3,4,5,6,5,4,3,7,8,9,9]
n=[]
for i in x:
    if x.count(i)>1 and i not in n:
        n.append(i)
n

[3, 4, 5, 9]

In [129]:
sen="I LOVE PYTHON"
c=sen.split(',')
z=c[::-1]
z

['I LOVE PYTHON']

In [130]:
nums=[4,2,3,5,6]
t=8
for i in nums:
    for j in nums:
        if i+j==t:
            print(i,j)

4 4
2 6
3 5
5 3
6 2

In [131]:
nums=[4,2,3,5,6]
t=8
for i in range(len(nums)):
    for j in range(len(nums)):
        if nums[i]+nums[j]==t:
            print(i,j)

0 0
1 4
2 3
3 2
4 1

In [132]:
x = [3, 6, 2, 4, 7, 5, 8] 
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]>x[j]:
            x[i],x[j]=x[j],x[i]
x

[2, 3, 4, 5, 6, 7, 8]

In [135]:
x = [3, 6, 2, 4, 7, 5, 8]
n=[]
while x:
    min=x[0]
    for i in x:
        if i<min:
            min=i
    n.append(i)
    x.remove(min)
n

[8, 8, 8, 8, 8, 8, 8]

In [136]:
a=0
b=1
print(a)
print(b)
for i in range(2,10):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [137]:
x=2345
sum=0
while x>0:
    rem=x%10
    sum=sum+rem
    x=x//10
print(sum)

14

In [140]:
n='narsimha'
x=''
for i in n:
    if i not in x:
        x=x+i
x

'narsimh'

In [143]:
age=int(input('enter your age : '))
class agecheck(Exception):
    pass
try:
    if age<18:
        raise agecheck("Your not eligible to vote ")
    else:
        print("your eligible to vote")
except agecheck as e:
    print(e)

enter your age : 22
your eligible to vote

In [144]:
n=[1,0,2,0,3,0,4,0,5,0,9,0,8]
a=[]
b=[]
for i in n:
    if i==0:
        a.append(i)
    else:
        b.append(i)
print(b+a)

[1, 2, 3, 4, 5, 9, 8, 0, 0, 0, 0, 0, 0]

In [146]:
n=[2,3,4,6,8,9,23,54,765,21,654,555]
for i in range(len(n)):
    for j in range(i+1,len(n)):
        if n[i]<n[j]:
            n[i],n[j]=n[j],n[i]
print(n[2])

555

In [154]:
s='Narsimha'
f=s[0]
l=s[-1]
m=s[1:-1:]
print(l+m+f)

aarsimhN

In [157]:
name="retreive last character of every word in a given string"
x=name.split()
for i in x:
    print(i[-1])

e
t
r
f
y
d
n
a
n
g

In [158]:
for i in range(10):
    for j in range(10):
        if i%2==0:
            if j%2==1:
                print(i+j,end=' ')
    print()

1 3 5 7 9

3 5 7 9 11

5 7 9 11 13

7 9 11 13 15

9 11 13 15 17

In [160]:
x=[1,2,3,4,2,2,2,2,2,2,2,2,2,3,3,3,4,6,6,6,6,6]
common_ele=None
common_count=0
for i in x:
    count=x.count(i)
    if count>common_count:
        common_ele=i
        common_count=count
print(common_ele)

2

In [163]:
x=[]
for i in range(1,10):
    for j in range(2,i):
        if i%j==0:
            x.append(i)
x

[4, 6, 6, 8, 8, 9]

In [164]:
x=0
while x<20:
    x=x+1
    if x%2==0:
        print(x)

2
4
6
8
10
12
14
16
18
20

In [166]:
n=int(input("enter a number : "))
temp=n
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if temp==rev:
    print("yes")
else:
    print('NO')

enter a number : 212
yes

In [167]:
n=input("enter a string or number : ")
x=n[::-1]
while len(n) >= len(x):
    if n==x:
        print('palindrome')
        break
    else:
        print('NO')
        break

enter a string or number : 212
palindrome

In [168]:
s = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00,  "Television", 1000, "Laptop Case", "Camera Lens"]
a=[]
b=[]
c=[]
for i in s:
    if type(i)==str:
        a.append(i)
    elif type(i)==int:
        b.append(i)
    else:
        c.append(i)
print(a)
print(b)
print(c)

['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
[100, 1000]
[310.28, 27.0]

In [11]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
b=a.replace(' ',',')
c=b.split(',')
d=[]
for i in range(len(c)):
    if i%2!=0:
        zz=c[i]
        z=zz[::-1]
        d.append(z)
    else:
        d.append(c[i])
d

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [12]:
a=[2,3,5,7,1,6,4]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
a

[1, 2, 3, 4, 5, 6, 7]

In [13]:
dic=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
for i in dic:
    c=0
    d=[]
    for j in i['city']:
        c=c+1
        if j[0]=='A' or j[0]=='a':
            d.append(j)
            i['city']=c
            i['cityA']=d
dic

[{'name': 'AP', 'city': 3, 'cityA': ['Amravathi', 'Anakala']},
 {'name': 'MP', 'city': 3, 'cityA': ['Abd', 'Ade']}]

In [14]:
x={"name": "vasu","id": "1234567"}
sum=0
for i,j in x.items():
    sum=sum+len(i)+len(j)
sum

17

In [16]:
x=[[1,2,3],[3,4,2],[4,2,6,1]]
n=[]
for i in x[0]:
    for j in x[1]:
        for k in x[2]:
            if i==j and j==k:
                n.append(i)
n

[2]

In [33]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a=[]
for i in l:
    a.append(i[1])
b=sorted(a)
d=[]
for j in b:
    for k in l:
        if k[1]==j:
            d.append(k)
d

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [35]:
x=['m','na','i','Nars']
y=['y','me','s','simha']
d=[]
for i in range(len(x)):
    d.append(x[i]+y[i])
d

['my', 'name', 'is', 'Narssimha']

In [36]:
s='google.com'
d={}
for i in s:
    keys=d.keys()
    if  i in keys:
        d[i]=d[i]+1
    else:
        d[i]=1
d

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}