In [2]:
class ageinfo(Exception):
    pass
age=int(input("enter your age : "))
try:
    if age<19:
        raise ageinfo("Your not eligible to vote")
    else:
        print("your eligible ")
except ageinfo as e:
    print(e)

enter your age : 12
Your not eligible to vote

In [2]:
def total():
    n=1
    while n<=10:
        sd=n*n
        yield sd
        n=n+1
    
s=total()
for i in s:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [4]:
def my_decorator(func):
    def wrapper():
         print(func.lower())
    return wrapper
@my_decorator
def functiona():
    for i in range(1,10):
        print(i)
functiona()

Befor function
1
2
3
4
5
6
7
8
9
After function

In [9]:
def aedd(func):
    def wrapper(x,y):
        return func(x,y)*10
    return wrapper
@aedd
def summ(x,y):
    return x+y
y=summ(9,8)
print(y)

170

In [1]:
def add_two(func):
    def wrapper(x,y):
        result=func(x,y)
        print(f"the addition of two numbers {x},{y} is {result}")
        return result
    return wrapper
@add_two
def sol(a,b):
    return a+b
r=sol(3,5)
print(r)

the addition of two numbers 3,5 is 8
8

In [16]:
def sol(*args):
    for i in args:
        print(i)
print(sol('narsimha',23,[1,2,3],9.87))

narsimha
23
[1, 2, 3]
9.87
None

In [20]:
def iu(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
iu(name='narsimha',age=22)

name:narsimha
age:22

In [1]:
s="Venkatt"
y=''
for i in s:
    if s.count(i)>1 and i not in y:
        y+=i
print(y)

t

In [4]:
nums=[2,3,4,2,4,5,5,5,6,7,8,8]
y=[]
for i in nums:
    if i not in y:
        y.append(i)
y

[2, 3, 4, 5, 6, 7, 8]

In [84]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
b=[]
for i in l:
    b.append(i[1])
c=sorted(b)
r=[]
for j in c:
    for k in l:
        if k[1]==j:
            r.append(k)
r

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [86]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a=[]
for i in l:
    a.append(i[1])
d=sorted(a)
f=[]
for j in d:
    for k in l:
        if k[1]==j:
            f.append(k)
f

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [93]:
x=['m','na','i','Nar']
y=['y','me','s','simha']
d=[]
for i in range(len(x)):
    d.append(x[i]+y[i])
print(d)

['my', 'name', 'is', 'Narsimha']

# 22-04-2023

In [15]:
def table(x):
    y=[]
    for i in range(1,11):
        y.append(str(x)+'*'+str(i)+'='+str(x*i))  
    return y
x=4    
print(table(x),end=' ')

['4*1=4', '4*2=8', '4*3=12', '4*4=16', '4*5=20', '4*6=24', '4*7=28', '4*8=32', '4*9=36', '4*10=40']

In [30]:
x=[1,2,3,4,5,6,5,4,3,7,8,9,9]
c = [i for n, i in enumerate(x) if i not in x[:n]]
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
sen="I LOVE PYTHON"
x = sen.split()
for i in x:
    y=i[::-1]
    print(y,end=' ')

I EVOL NOHTYP

In [51]:
x=[4,2,3,5,6]
target=8
# for i in n:
#     for j in n:
#         if i+j == target:
#             print(i,j)
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]+x[j]==target:
            print(i,j)

1 4
2 3

In [59]:
x = [3, 6, 2, 4, 7, 5, 8] 
# new =[]
# while x:
#     min=x[0]
#     for i in x:
#         if i < min:
#             min=i
#     new.append(min)
#     x.remove(min)
# # print(new)
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]>x[j]:
            x[i],x[j]=x[j],x[i]
print(x)

[2, 3, 4, 5, 6, 7, 8]

In [61]:
a=0
b=1
print(a)
print(b)
for i in range(2,2):
    c=a+b
    a=b
    b=c
    print(c)

0
1

In [64]:
fact=1
for i in range(1,6):
    fact = fact*i
print(fact)

120

In [66]:
x=1234
sum=0
while x>0:
    rem = x%10
    sum=sum+rem
    x = x//10
print(sum)

10

In [74]:
def armstrong(x):
    temp = x
    rev = 0 
    while x>0:
        rem = x%10
        rev = rev+(rem*rem*rem)
        x = x//10
    if temp == rev:
        print('YES')
    else:
        print('NO')
x=253
armstrong(x)

NO

In [84]:
name = 'NARASIMHA'
# y=''
# for i in name:
#     if name.count(i)>1 and i not in y:
#         y+=i
# print(y)
z=''
y=''
for i in name:
    if name.count(i)>1:
        del i
    else:
        y+=i
print(y)

NRSIMH

In [104]:
x=8
sum=0
for i in range(1,x+1):
    sum+=i%x
print(sum)

28

In [116]:
x=0
y=10
class valueEx(Exception):
    pass
try:
    if x==0:
        raise valueEx('x can not be zero')
    elif x < 0:
        raise valueEx('X can not be Negative')
    else:
        res = x/y
        print(res)
except valueEx as e:
    print('Exception',e)

Exception x can not be zero

In [133]:
nums=[2,3,4,2,4,5,5,5,6,7,8,8]
y=[i for i in nums if nums.count(i)>1]
y

[2, 4, 2, 4, 5, 5, 5, 8, 8]

In [143]:
n = 'NARSIMHA'
z=' '
for i in range(len(n)):
    if i%2!=0:
        continue
    else:
        z+=n[i]
print(z)

 NRIH

In [152]:
s1="Narsimha"
s2="Chellaboina"
s3=" ".join([i for i in s1 if i not in s2])
s3

'N r s m'

In [165]:
x=[1,2,3,4,2,2,2,2,2,2,2,2,2,3,3,3,4,6,6,6,6,66,6,6,6,66,6,6,6,6,6,6,6,6,6,6,6,6] 
c={}
for i in x:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
maxV=0
common=None
for i in c:
    if c[i]>maxV:
        maxV=c[i]
        common=i
print('most repeated value is :',common)

most repeated value is : 6

In [166]:
x=1234
y=''
while x>0:
    rev = x%10
    y=y+str(rev)
    x=x//10
print(y)

4321

In [171]:
x='fof'
s=0
e=len(x)-1
while s<e:
    if x[s]!=x[e]:
        print('not palindrome')
        break
    s+=1
    e-=1
else:
    print('palindrome')

palindrome

In [180]:
l=1
u=10
for num in range(l,u+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7

In [183]:
y=['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']
for i in range(len(y)):
    for j in range(i+1,len(y)):
        if y[i]>y[j]:
            y[i],y[j]=y[j],y[i]
print(y)
s=sorted(y)
print(s)

['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']
['Camera', 'Camera Lens', 'Laptop', 'Laptop Case', 'Mobile', 'Speakers', 'Television']

In [186]:
user = 5
num=[1,2,3,4,5,6,7,8,9,10]
val=["one","two","three",'Four',"five","six","seven","eight","nine",'ten']
nums=dict(zip(num,val))
print(nums[user])

five

In [200]:
s = "P@#yn26at^&i5ve" 
nums=[]
a=0
word = ''
b=0
special = ''
c=0
for i in s:
    if i.isnumeric():
        nums.append(i)
        a+=1
    elif i.isalpha():
        word+=i
        b+=1
    else:
        special+=i
        c+=1
print(nums,a)
print(word,b)
print(special,c)

['2', '6', '5'] 3
Pynative 8
@#^& 4

In [208]:
x="name:narsimha,age;23,deg:Software"
a=x.replace(';',':')
y=a.split(',')
c={}
for i in y:
    key,val = i.split(':')
    c[key]=val
c

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [215]:
a='vasu:1,raju:2,vasu:3'
b=a.split(',')
c=[]
for i in b:
    key,val=i.split(':')
    c.append({'name':key,'id':val})
print(c)

[{'name': 'vasu', 'id': '1'}, {'name': 'raju', 'id': '2'}, {'name': 'vasu', 'id': '3'}]

In [230]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
key=[]
val=[]
for i,j in a.items():
    key.append(i)
    val.append(j)
key=key[::-1]
val=val[::-1]
z=dict(zip(key,val))
print(z)

e={k:v for k,v in reversed(a.items())}
print(e)

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}
{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [225]:
a={'name':'vasu','id':3,'deg':15,'amount':25} 
c=''
d=''
for i,j in a.items():
    c+=i
    d+=str(j)
print(len(c)+len(d))

24

In [226]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
d={}
for i in dic1,dic2,dic3:
    d.update(i)
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [235]:
x=[{"name":"hari","id":1},{"name":"ganesh","id":2},{"name":"simha","id":2},{"name":"hari","id":1}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['name']>x[j]['name']:
            x[i],x[j]=x[j],x[i]
y=[]
for i in x:
    if i not in y:
        y.append(i)
print(y)

[{'name': 'ganesh', 'id': 2}, {'name': 'hari', 'id': 1}, {'name': 'simha', 'id': 2}]

In [238]:
s='qsdfghjkjhgfdsssdfvghjhgfdssdfghjkjhgfdsasdrtgyujijhgfds'
c={}
for i in s:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
print(c)

{'q': 1, 's': 9, 'd': 8, 'f': 7, 'g': 8, 'h': 7, 'j': 7, 'k': 2, 'v': 1, 'a': 1, 'r': 1, 't': 1, 'y': 1, 'u': 1, 'i': 1}

In [255]:
d={'a':3,'b':5,'c':2,'d':1,'e':-2}
c=list(d.items())
for i in range(len(c)):
    for j in range(i+1,len(c)):
        if c[i]<c[j]:
            c[i],c[j]=c[j],c[i]
f={}
for item in c:
    f[item[0]]=item[1]
f

a=dict(sorted(d.items()))
c=dict(sorted(d.items() , key=lambda x:x[1]))
print(c)

{'e': -2, 'd': 1, 'c': 2, 'a': 3, 'b': 5}

In [280]:
a=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
for i in a:
    c=0
    l=[]
    for j in i['city']:
         
        if j[0]=='A':
            c=c+1
            l.append(j)
            i['city']=c
            i['city with a']=l
print(a)

[{'name': 'AP', 'city': 2, 'city with a': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 2, 'city with a': ['Abd', 'Ade']}]

In [259]:
x=[[1,2,3],[3,4,2],[4,2,6,1]]
for i in x[0]:
    for j in x[1]:
        for k in x[2]:
            if i==j and j==k:
                print(i)

2

In [285]:
m = [[1,2,3],[1,2,3],[1,2,3,4]]
l=[]
for i in m:
    for j in i:
        if j not in l:
            l.append(j)
l

[1, 2, 3, 4]

In [307]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
b=a.replace(' ',',')
c=b.split(',')
l=[]
for i in range(len(c)):
    if i%2!=0:
        rr=c[i]
        ed=rr[::-1]
        l.append(ed)
    else:
        l.append(c[i])
l

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [309]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i][1]>l[j][1]:
            l[i],l[j]=l[j],l[i]
l

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [314]:
x=['m','na','i','Nar']
y=['y','me','s','simha']
c=[]
for i in x:
    for j in y:
        if x.index(i)==y.index(j):
            c.append(i+j)
c
k=[]
for i in range(len(x)):
    k.append(x[i]+y[i])
print(k)

['my', 'name', 'is', 'Narsimha']

In [318]:
l=['aba','xyz','abc','1221']
a=0
for i in l:
    if i[0]==i[-1]:
        a+=1
a

2

In [321]:
s='eestakt'
a=s[0]
y=s.replace('e','$')
print(a+y[1:])

e$stakt

In [327]:
x=['narsimha','chellaboina','goud']
hg=x[0]
for i in x:
    if len(i)>len(hg):
        hg=i
hg

'chellaboina'

In [335]:
x=int(input('Enter number : '))
sen=input('Enter your string : ')
a=sen[:x]
b=sen[x+1:]
res=a+b
res

Enter number : 1
Enter your string : python

'pthon'

In [348]:
x =['john','john','johnny','jackie','johnny','john','jackie','jamie','jamie','john','johnny','jamie','johnny','john']
d={}
for i in x:
    if i not in d.keys():
        d[i]=1
    else:
        d[i]+=1
maxV=0
common=None
for i,j in d.items():
    if j>maxV:
        maxV=j
        common =i
print(common)
print(maxV)

john
5

In [352]:
x=[1,2,3,4,5,5,5]
s={}
for i in x:
    if i not in s.keys():
        s[i]=1
    else:
        s[i]+=1
hg=0
coo=None
for i,j in s.items():
    if j>hg:
        hg=j
        coo=i
print(s)
print(hg)
print(coo)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 3}
3
5

In [354]:
x='geeksforgeeks'
c=''
for i in x:
    if x.count(i)>1 and i not in c: 
        c=c+i
c

'geks'

In [369]:
a=[{ 'name': 'andhra', 'city': ['nellore', 'guntur'] }, { 'name': 'telangana', 'city': ['Hyd', 'varangal'] }]
staes=[]
city_with_state=[]
for i in a:
    staes.append(i['name'])
    for j in i['city']:
        city_with_state.append({'name':j,'state':i['name']})
y={'name':staes,'cities':city_with_state}
print(y)

{'name': ['andhra', 'telangana'], 'cities': [{'name': 'nellore', 'state': 'andhra'}, {'name': 'guntur', 'state': 'andhra'}, {'name': 'Hyd', 'state': 'telangana'}, {'name': 'varangal', 'state': 'telangana'}]}

In [372]:
c = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
for i in range(len(c)):
    print([i,c[i]])

[0, 0]
[1, 1]
[2, 4]
[3, 9]
[4, 16]
[5, 25]
[6, 36]
[7, 49]
[8, 64]
[9, 81]

In [375]:
def beforeafter(func):
    def wrapper():
        print('before function')
        func()
        print('after function')
    return wrapper()
@beforeafter
def info():
    print('this is scret key 987yghjkmnbvty ')

before function
this is scret key 987yghjkmnbvty
after function

In [385]:
def whispergreet(func):
    def wrapper(text):
        r = func(text)
        u = r.upper()
        l = r.lower()
        s = u +' '+ l
        return s
    return wrapper

@whispergreet
def hello(name):
    return 'Hello ' + name

nn = hello('NarsIMha')
print(nn)

HELLO NARSIMHA hello narsimha

In [390]:
def primenum(func):
    def wrapper(l,u):
        for num in range(l,u):
            if num>1:
                for i in range(2,num):
                    if num%i==0:
                        break
                else:
                    print(num)
        return func(l,u)
    return wrapper
@primenum
def nums(l,u):
    print('prime numbers between ',l,'and',u)
nums(2,20)

2
3
5
7
11
13
17
19
prime numbers between  2 and 20

In [395]:
from functools import reduce
nums=[1,2,3,4,6,7,4,9]
even = list(filter(lambda x : x%2==0,nums))
double = list(map(lambda y : y**2, even))
sum = reduce(lambda a,b : a+b , double)
sum

72

In [396]:
persons = ['alfred', 'tabitha', 'william', 'arla']
x=list(map(lambda x : x.upper(), persons))
x

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [406]:
x="forgeekskeegfor"
c=[]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        y=x[i:j+1]
        if y==y[::-1]:
            c.append(y)
long=''
for i in c:
    if len(i)>len(long):
        long = i
long

'geekskeeg'