In [1]:
# Table 3
def table():
    for x in range(7,11):
        print(3,"x",x,"=",3*x)
    for y in range(1,7):
        print(3,"x",y,"=",3*y)
table()

3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18

In [2]:
x=[1,2,3,4,5,6,5,4,3,7,8,9,9]
n=[]
for i in x:
    if x.count(i)>1:
        del i

In [3]:
sen="I LOVE PYTHON"
saparate_word=sen.split()
reverse_str=[]
for i in sen:
    reverse_str.append(i[::-1])
print(reverse_str)

#Approach 2
n="narsimha chellaboina goud"
x=n.split()
m=''
for i in x:
    m=i+m
    y=m.split(',')
print(y)

['I', ' ', 'L', 'O', 'V', 'E', ' ', 'P', 'Y', 'T', 'H', 'O', 'N']
['goudchellaboinanarsimha']

In [4]:
# Reverse a String 

str=input("Enter any sentence :")

def reverse(str):
    y=str.split(" ")
    z=y[::-1]
    return z
print(reverse(str))

Enter any sentence :dfghjk
['dfghjk']

In [5]:
sen="I LOVE PYTHON"
saparate_word=sen.split(",")
reverse_str=[]
for i in sen:
    reverse_str.append(i[::-1])
print(reverse_str)

['I', ' ', 'L', 'O', 'V', 'E', ' ', 'P', 'Y', 'T', 'H', 'O', 'N']

In [6]:
# Target Value indices
nums=[4,2,3,5,6]
target=8
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]+nums[j]==target:
            print([i,j])

[1, 4]
[2, 3]

In [7]:
nums=[1,2,34,5,6,6,6,6,6]
for i in range(len(nums)):
    print(i)

0
1
2
3
4
5
6
7
8

In [8]:
# even and odd
n=int(input("Enter a list of numbers : "))
if(n%2==0):
    print("the given number is even")
else:
    print("The given numbers is odd")
print("******************************************")

Enter a list of numbers : dhfjgkjhlj;

ValueError: invalid literal for int() with base 10: 'dhfjgkjhlj;'

In [9]:
# ascending order
x = [3, 6, 2, 4, 7, 5, 8] 
new_list=[]
while x:
    min=x[0]
    for i in x:
        if i<min:    
            min=i
    new_list.append(min)
    x.remove(min)
print(new_list)

[2, 3, 4, 5, 6, 7, 8]

In [5]:
# palindrome string
x=input("Enter a string : ")
y=x[::-1]
if(x==y):
    print("given sttring is palindrome ")
else:
    print("The given string is not palindrome")
y

Enter a string : mom
given sttring is palindrome

'mom'

In [11]:
# string palindroe method 2
x=input("enter a  string : ")
temp=x
w=""
for i in x:
    w=i+w
    #return w
if temp==w:
    print("it's a plindrome ")
else:
    print("it's not a plindrome")

enter a  string :
it's a plindrome

In [12]:
# fibbonaci series
def fibbonaci(n):
    a=0
    b=1
    if n<0:
        print("enter a positive number :")
    elif n==0:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n+1):
            c=a+b
            a=b
            b=c
            print(c)
print(fibbonaci(8))

0
1
1
2
3
5
8
13
21
None

In [13]:
#fibbonaci method 2
n=int(input("enter a number : "))
n1=0
n2=1
count=0
while(count>n):
    print(n1)
    z=n1+n1
    n1=n2
    n2=z              # Code not working do modifications
    count+=1

enter a number :

ValueError: invalid literal for int() with base 10: ''

In [1]:
# Factorial of a number 
n=int(input("Enter a number : "))
factorial=1
if n<0:
    print("Enter a positive number : ")
elif n==0:
    print("Factorial of 0 is 1")
else:
    for i in range(1,n+1):
        factorial =factorial * i
print(factorial)

Enter a number : 5
120

In [ ]:
# LCM of two numbers 
def common(n1,n2):
    if n1>n2:
        higher =n1
    else:
        higher=n2
    value=higher
    while True:
        if higher%n1==0 and higher%n2==0:
            print("lcm of",n1,"and",n2 ,"is",higher)
            break
        else:
            higher=higher+value
n1=int(input("enter a first number : "))
n2=int(input("enter a second number : "))
common(n1,n2)

In [ ]:
 #sum of digits
n=int(input("enter a numbers to sum : "))
sum=0
while(n>0):
    rem=n%10
    sum=sum+rem
    n=n//10
print(sum)

In [ ]:
# Amstrong Number
n=int(input("Enter a number : "))
temp=n
rev=0
if n>1000:
    print("please increase the reminder multiplication one step")
else:
    print("done")
    
while(n>0):
    rem=n%10
    rev=rev+(rem*rem*rem) # rem***3
    n=n//10
if temp==rev:
    print("given number is amstrong number :",rev)
else:
    print("Given number is not amstrong number ",rev)

In [ ]:
# HCF/GCD of two numbers 
def common(a,b):
    if b==0:
        return a
    else:
        return (common(b,a%b))
    
n1=int(input("enter a first number : "))
n2=int(input("enter a second number : "))
print(common(n1,n2))

In [ ]:
# prove to show that two arrays are equal

In [ ]:
 #DAY!!!!!!!!!!!!!!!!!!!!!!!!!!!111111

In [ ]:
# 28-11-2022 Day 1 Assignment 
#  1 input=123456 output=456123
n="123456"
a=n[0:3]
b=n[3:]
z=int(b+a)
print(z)

In [4]:
2. # write a python to delete duplicate characters in a given string
# s="NarasimhaMouriMtech"
# s1=""
# for i in s:
#     if s.count(i)==1:
#         s1=s1+i
# print(s1) 

# # Approach 2
# s=input()
# s1=""
# for i in s:
#     if s.count(i)>1:
#         pass
#     else:
#         s1=s1+i
# print(s1)
# Approach 3
s="Venkatt"
s1=''
for i in s:
    if s.count(i)>1 and i not in s1:
        del i
    else:
        s1=s1+i
print(s1)

Venka

In [ ]:
s='Narsimha'
s1=''
for i in s:
    if s.count(i)>1:
        del i
    else:
        s1=s1+i
print(s1)

In [ ]:
3.# python program for sum of remainders of a given number?
# n=22234
# sum=0
# while(n>0):
#     rem=n%10
#     sum=sum+rem
#     n=n//10
# print(sum)

#python program for sum of remainders of a given number?
a=int(input("enter a first number : "))
b=int(input("enter a second number : "))
c=a%b
val = list(map(int,str(c)))
print(sum(val))

In [ ]:
x=int(input("Enter a number"))
y=int(input("enter a second number"))

class xIsException(Exception):
    pass
try:
    if x==0:
        raise xIsException("x cannot be zero")
    else:
        res=y/x
        print(res)
except xIsException as e:
    print("Exception",e)

In [ ]:
2/3

In [7]:
age=int(input("enter a age: "))
class AgeException(Exception):
    pass
try:
    if age<18:
        raise AgeException("Your not eligible to vote ")
    else:
        print("Your eligible to vote")
except AgeException as e:
    print(e)

enter a age: 21
Your eligible to vote

In [ ]:
# 4. write a python program for deleting duplicates in a list?
nums=[2,3,4,2,4,5,5,5,6,7,8,8]
dup=list(set(nums))
print(dup)

In [ ]:
# 5. write a python program for sum of squares of first ‘n’ natural numbers
n=[1,2,3,4]
sum=0
for i in n:
    y=i**2
    sum=sum+y
print(sum)

In [ ]:
# 6. moves all zeros at the end of the array?
n=[1,0,2,0,3,0,4,0,5,0,9,0,8]
n1=[]
n2=[]
for i in n:
    if i==0:
        n1.append(i)
    else:
        n2.append(i)
print(n2+n1)

In [ ]:
# 7.python program to findout third largest element in the given array
n=[2,3,4,6,8,9,23,54,765,21,654,555]
for i in range(len(n)):
    for j in range(i+1,len(n)):
        if n[i]<n[j]:
            n[i],n[j]=n[j],n[i]
print(n[2])

In [ ]:
# 8.  python program to reverse last 2 characters in a given string
 

n=str(input("Enter a string : "))
a=n[-2::1]

x=n[:-2:1]
b=a[::-1]
print(x+b)

In [ ]:
#9  python program to sort the elements in the array in ascending order with using functions
def ascending(x):
     
    new_list=[]
    while x:
        min=x[0]
        for i in x:
            if i<min:    
                min=i
        new_list.append(min)
        x.remove(min)
    print(new_list)
x = [3, 6, 2, 4, 7, 5, 8] 
l=x
ascending(l)

In [ ]:
# 10 write a python program for below input and output?
    #Input:
    #123456
    #Output:
    #456123

x=123456
y=str(x)
a=y[:3]
b=y[3:]
print(b+a)

In [8]:
#11. retreive last character of every word in a given string
name="retreive last character of every word in a given string"
x=name.split()
for i in x:
    print(i[-1],end=" ")

e t r f y d n a n g

In [5]:
#12. write a python program to capitalize first and last character of each word in a given string
name="narsimha chellaboina goud"
x=name.split(" ")
for i in x:
    a=i[0].capitalize()
    b=i[-1].capitalize()
    z=i[1:-1:1]
    print(a+z+b,end=" ")

NarsimhA ChellaboinA GouD

In [ ]:
#13.  remove characters from the first string which are present in the second string
# s1="Narsimha"
# s2="Chellaboina"
# for i in range(len(s1)):
#     for j in range(0,len(s2)):
#         if s1[i]==s2[j]:
#             s1.replace(s1[i],s2[j])
# Wrong

In [9]:
#14. python program to remove all odd indexing in a given string
n="narsimha mouritech"
for i in range(len(n)):
    if i%2==1:
        continue
    print(n[i],end="")

nrih ortc

In [10]:
#15. remove characters from the first string which are present in the second string
s1="Narsimha "
s2="Chellaboina "
s3=''
for i in s1:
    if i not in s2:
        s3=s3+i
print(s3)

Nrsm

In [ ]:
# 16.Python Program to Reverse Each Word Of A String In Python
n="narsimha chellaboina goud"
x=n.split()
r=[]
for i in x:
    r.append(i[::-1])
print(r)

In [ ]:
# 17. write a python program for below number pattern?
#    1 3 5 7 9
#     3 5 7 9 11
#     5 7 9 11 13
#     7 9 11 13 15
#     9 11 13 15 17

    
for i in range(10):
    for j in range(10):
        if i%2==1:
            if j%2==0:
                print(i+j,end=" ")
    print()

In [ ]:
# 18. Find all pairs in list whose sum is equal to given number
n=[1,2,3,4,5]
sum=6
for i in n:
    for j in n:
        if i+j==sum:
            print([i,j])

In [11]:
# 19. 13. python program to find out most frequent element in the list?
x=[1,2,3,4,2,2,2,2,2,2,2,2,2,3,3,3,4,6,6,6,6,6]
y=sorted(x)
z=[]
for i in range (len(y)):
    if y.count(y[i])>1:
        z.append(y[i])
print(set(z))

{2, 3, 4, 6}

In [ ]:
#. python program for camel case of a given sentence?
s1="narsimha chellaboina"
x=s1.title()
z=x.replace(" ","")
z

In [ ]:
12%22

# For Loops

In [ ]:
# 1.   29-11-2022
#2.Print the first 10 natural numbers using for loop.
for i in range(1,11):
    print(i ,end=",")

In [ ]:
#3.Python program to print all the even numbers within the given range
for i in range(1,11):
    if i%2==0:
        print(i)

In [ ]:
# 4. Python program to calculate the sum of all numbers from 1 to a given number.
num=int(input("enter a number : "))
sum=0
for i in range(0,num):
    sum=sum+i
print(int(sum))

In [ ]:
# 5. Python program to calculate the sum of all the odd numbers within the given range.
num=[1,2,3,4,5,6,7,8,9]
sum=0
for i in range(1,10):
    if i%2==1:
        sum=sum+i
print(sum)

In [ ]:
# 6. Python program to print a multiplication table of a given number
num=int(input("enter a number : "))

for i in range(1,11):
    print(num,"x",i,"=",num*i)

In [ ]:
#7. Python program to display numbers from a list using a for loop.
x=[1,2,3,4,5]
for i in x:
    print(i)

In [7]:
#8. Python program that accepts a word from the user and reverses it.
user=input("Enter a word ")
rev=""
for i in user:
    rev=i+rev
print(rev)

Enter a word 2346
6432

In [ ]:
#9. Python program to count the number of even and odd numbers from a series of numbers.
a=[]
b=[]
for i in range(1,11):
    if i%2==0:
        a.append(i)
    else:
        b.append(i)
print(len(a))
print(len(b))

In [12]:
#10. Python program to display all numbers within a range except the prime numbers.
n=int(input("enter range of numbers "))
k=[]
for i in range(0,n):
    for j in range(2,i):
        if i%j==0:
            k.append(i)
print(set(k))

enter range of numbers 10
{8, 9, 4, 6}

In [ ]:
3%3

In [ ]:
#11.Python program to get the Fibonacci series between 0 to 50.
n1=0
n2=1
print(n1)
print(n2)
for i in range(0,50):
    c=n1+n2
    n1=n2
    n2=c
    print(c,end=",")

# While Loops

In [ ]:
#14,15,16.
#write the program to print the following by using while loop
#a.first 10 even number
#b.first 10 odd number
x=0
odd=[]
even=[]
while x<11:
    if x%2==0:
        even.append(x)
    elif x%2==1:
        odd.append(x)
    x=x+1
print("Even Numbers : ",even)
print("Odd Numbers :",odd)

In [ ]:
#17.print first 10 integers and their squres using while loop.
x=0
while x<=10:
    print(x**2)
    x=x+1

In [ ]:
# 18,19,,,   Q.while loop statement to print following series
#105,98,95------7

x=112
while x>7:
    x=x-7
    print(x)

In [ ]:
#20. print the first 10 natural numbers in reverse order using while loop
x=11
while x>1:
    x=x-1
    print(x)

In [ ]:
#21. print sum of first 10 natural numbers 
x=0
sum=0
while x<10:
    sum=sum+x
    x=x+1
print(sum)

In [ ]:
#22.print sum of first 10 even numbers
x=0
even_sum=0
while x<20:
    x=x+1
    if x%2==0:
        even_sum=even_sum+x
print(even_sum)

In [ ]:
#23. program to print the table entered by the user.
x=int(input("enter  a number : "))
y=1
while y<11:
    print(x,"x",y,"=",x*y)
    y=y+1

In [ ]:
#24. program to find the sum of digits of numbers accepted by the user,using while loop.
n=int(input("Enter a number : "))
sum=0
while n>0:
    rem=n%10
    sum=sum+rem
    n=n//10
print(sum)

In [ ]:
#25. program to reverse the number accepted by the user using while loop
# n=int(input("Enter a number "))
# rev=0
# while n>0:
#     rev=rev*10+n%10
#     n=n//10
# print(rev)

# Approach 2
x=int(input("enter a number : "))
s=0
while x>s:
    s=s+1
    a=str(x)
    b=a[::-1]
    z=int(b)
print(z)

In [ ]:
#26. program to check palindrome or not

n=int(input("Enter a number "))
rev=0
temp=n
while n>0:
    rev=rev*10+n%10
    n=n//10
#print(rev)

if (temp==rev):
    print("is a palindrome")
else:
    print("it's not a plaindrome")

In [ ]:
#26. palindrome for string 
x=input("Enter a string : ")
w=x[::-1]
while len(x)<len(w):
    if x==w:
        print(x,"is a palindrome")
        break
    else:
        print(x,"is not a plindrome")
        break

# 30-11-2022 Add functions to the all programes

In [ ]:
#1 . 
#  1 input=123456 output=456123
n="123456"
def rev(n):
    a=n[0:3]
    b=n[3:]
    z=int(b+a)
    print(z)
rev(n)

In [ ]:
#2.
s="Venkatt"
def duplicates_string():
    #s="Venkatt"
    s1=''
    for i in s:
        if s.count(i)>1:
            del i
        else:
            s1=s1+i
    print(s1)
duplicates_string()

In [ ]:
s= input("enter: ")
count1=0
count2=0
for i in s:
    if i.isalpha():
        count1=count1+1
    elif i.isdigit():
        count2=count2+1
print(count1)
print(count2)

In [ ]:
# adding functions to loops 29-11-2022

In [ ]:
#2. Print the first 10 natural numbers using for loop.

def natural():
    for i in range(1,11):
        print(i)
natural()

In [ ]:
#3.Python program to print all the even numbers within the given range.
def even():
    for i in range(1,11):
        if i%2==0:
            print(i)
even()

In [ ]:
#4. Python program to calculate the sum of all numbers from 1 to a given number.
def num_sum():
    sum=0
    for i in range(1,10):
        sum=sum+i
    print(sum)
num_sum()

In [ ]:
#5. Python program to calculate the sum of all the odd numbers within the given range.
def sum_odd():
    odd=0
    for i in range(1,11):
        if i%2==1:
            odd=odd+i
    print(odd)
sum_odd()

In [ ]:
#6. Python program to print a multiplication table of a given number
n=int(input("enter a table :"))
def table(n):
    for i in range(1,11):
        print(n,"x",i,"=",n*i)
table(n)

In [ ]:
#7. Python program to display numbers from a list using a for loop.
n=[1,2,3,4,5]
def list_num(n):
    for i in n:
        print(i,end=" ")
list_num(n)

In [ ]:
#8.Python program that accepts a word from the user and reverses it.
n=input("enter a word : ")
def reverse(n):
    rev=''
    for i in n:
        rev=i+rev
    return rev
reverse(n)

In [ ]:
#9. Python program to count the number of even and odd numbers from a series of numbers.
def count_evenOdd():
    even=[]
    odd=[]
    for i in range(1,10):
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    print("even nums : ",even)
    print("odd nums : ",odd)
count_evenOdd()

In [ ]:
#10. Python program to display all numbers within a range except the prime numbers.
def exceptP(n):
    n=int(input("enter range of numbers "))
    k=[]
    for i in range(1,n):
        for j in range(2,i):
            if i%j==0:
                k.append(i)
    print(set(k))
exceptP(n)

In [ ]:
#11. Python program to get the Fibonacci series between 0 to 50.
def fib(n):
    a=0
    b=1
    if n==0:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(0,n):
            c=a+b
            a=b
            b=c
            print(c)
n=int(input("Enter a number : "))
fib(n)

# while loops using functions

In [ ]:
#14,15,16 write the program to print the following by using while loop
#a.first 10 even number
#b.first 10 odd number

def even_odd():
    x=0
    even=[]
    odd=[]
    while x<20:
        if x%2==0:
            even.append(x)
        else:
            odd.append(x)
        x=x+1
    print(even)
    print(odd)
even_odd()

In [ ]:
#17.print first 10 integers and their squres using while loop.
def squers():
    x=0
    while x<11:
        print(x**2)
        x=x+1
squers()

In [ ]:
# 18. while loop statement to print following series
105,98,95------7
def series():
    x=112
    while x>7:
        x=x-7
        print(x)
series()

In [ ]:
# 20. print the first 10 natural numbers in reverse order using while loop
def natural_reverse():
    x=10
    while x>0:
        print(x)
        x=x-1
natural_reverse()

In [ ]:
#21. print sum of first 10 natural numbers 
def sum_naturals():
    x=0
    sum=0
    while x<10:
        sum=sum+x
        x=x+1
    print(sum)
sum_naturals()

In [ ]:
#22.print sum of first 10 even numbers

def even_nums():
    x=0
    sum=0
    while x<20:
        x=x+1
        if x%2==0:
            sum=sum+x
    print(sum)
even_nums()

In [ ]:
# 23. program to print the table entered by the user.
n=int(input("Enter a value for table : "))
def table(n):
    x=0
    while x<10:
        x=x+1
        print(n,"x",x,"=",n*x)
table(n)

In [ ]:
#24. program to find the sum of digits of numbers accepted by the user,using while loop.
def sum_digit(n):
    sum=0
    while n>0:
        rem=n%10
        sum=sum+rem
        n=n//10
    print(sum)
n=int(input("Enter some digits : "))
sum_digit(n)

In [ ]:
#25. program to reverse the number accepted by the user using while loop

def reverse_num(n):
    n=int(input("enter a numbers : "))
    s=0
    while n>s:
        s=s+1
        a=str(n)
        b=a[::-1]
        c=int(b)
    print(c)
reverse_num(n)

In [ ]:
#26. program to check palindrome or not.
def palindrome(n):
    n=input("enter a thing : ")
    x=n[::-1]
    while len(n)<=len(n):
        if n==x:
            print(n,"is a palindrome")
            break
        else:
            print(n,"is not a palindrome ")
            break
palindrome(n)

In [ ]:
#prime number between two numbers

l=int(input("Enter a lower number : "))
u=int(input("Enter a upper number : "))
for num in range(l,u+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

From given list 

gadgets = [“Mobile”, “Laptop”, 100, “Camera”, 310.28, “Speakers”, 27.00, 

 “Television”, 1000, “Laptop Case”, “Camera Lens”] 

a) create separate lists of strings and numbers Sort the s bers.   

 b) strings list in ascending order 

 c) Sort the strings list in descending order 

 d) Sort the number list from lowest to highest 

 e) Sort the number list from highest to lowest

In [ ]:
s = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00,  "Television", 1000, "Laptop Case", "Camera Lens"]
a=[]
b=[]
c=[]
for i in s:
    if isinstance(i,int):
        a.append(i)
    elif isinstance(i,float):
        b.append(i)
    else:
        c.append(i)
print(a,end='')
print(b,end='')
print(c,end='')

In [ ]:
str1=c
print(str1)

In [ ]:
str1=(set(c))
lst=list(str1)
print(lst)

In [ ]:
x=a+b
y=sorted(x)
print("lowest to highest ")
print(y)
print("highest to lowest")
f=y[::-1]
print(f)

In [ ]:
a=[86,86,85,85,85,83,23,45,84,1,2,0]
b=set(a)
x=sorted(b)
print(x[-1],x[-2])

In [ ]:
user=int(input("enter a number 1-4 : "))
dic={1:"one",2:"two",3:"three",4:"four"}
v=dic[user]
print(v)

In [ ]:
n=int(input("enter a number 1-10 : "))
num=[1,2,3,4,5,6,7,8,9,10]
val=["one","two","three",'Four',"five","six","seven","eight","nine",'ten']
x=dict(zip(num,val))
print(x[n])

In [ ]:
u=int(input("enter a prize between 400 to 1900"))
products = { 

 "SMART WATCH": 550, 

 "PHONE" : 1000, 

 "PLAYSTATION": 500, 

 "LAPTOP" : 1550, 

 "MUSIC PLAYER" : 600, 

 "TABLET" : 400 

} 
for i,j in products.items():
    if j<=u:
        print(j,"=",i)

In [13]:
p={"smartwatch":550,"phone":1000,"playstation":500,"laptop":1500,"musicplayer":600,"tablet":400}
x=p["smartwatch"]
x

550

In [ ]:
s=input(" enter a string : ")
s1=''
s2=''
s3=''
for i in s:
    if i.islower():
        s1=i+s1
    else:
        s2=i+s2
s3=s1+s2
print(s3)

In [31]:

s = "P@#yn26at^&i5ve" 
s1=''
s2=[]
s3=''
a=1
b=1
c=1

for i in s:
    if i.isalpha():
        s1=s1+i
        a=a+1
    elif i.isnumeric():
        s2.append(i)
        b=b+1
    else:
        s3=s3+i
        c=c+1
# print(s1)
print("nmber of charcters are : ",a-1 ,s1)
# print(s2)
print("total numbers are : ",b-1,s2)
# print(s3)
print("total symbols are : ",c-1,s3)

nmber of charcters are :  8 Pynative
total numbers are :  3 ['2', '6', '5']
total symbols are :  4 @#^&

In [ ]:
s="Welcome  to USA. usa awesome, isn't it?"
s1=s.lower()

s2=s1.split()
s3=""
for i in s2:
    if "usa" in i:
        s3=s3+i
print("usa count is : ",s3.count("usa"))

In [ ]:
a="Welcome  to USA .  usa awesome, isn't it?"
z=a.lower()
b=z.split()
c={}
for i in b:
    if i in c:
        c[i]=c[i]+1
    else:
        c[i]=1
print(c)

In [10]:
s="hari hari simha gani"
x=s.split( )
for i in s:
    print(i,":",s.count(i))
#     s=s.count(i)

h : 3
a : 4
r : 2
i : 4
  : 3
h : 3
a : 4
r : 2
i : 4
  : 3
s : 1
i : 4
m : 1
h : 3
a : 4
  : 3
g : 1
a : 4
n : 1
i : 4

In [11]:

x="this is orange juice"
w="orange"
if w in x:
    print("yes")

yes

In [ ]:
for i in range(6):
    print("*")
    
for j in range(i+1):
    print("*",end="")

In [ ]:
import datetime
a=datetime.datetime.now()
print(a)

In [ ]:
x="H1e2l3l4o5w6o7r8l9d "
n=''
for i in x:
    if i.isalpha():
        # n.append(i)
        n=n+i
print(n)

In [ ]:
x=[1,2,30,44,78,93,47]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]<x[j]:
            x[i],x[j]=x[j],x[i]
print(x[2])

In [ ]:
pip install virtualenv

In [ ]:
pip install flask

### Flask Codes strats from here

In [ ]:
#1.

In [ ]:
from flask import Flask
app=Flask(__name__)
@app.route('/')
def home():
    return "hi Narsimha"
if __name__=="__main__":
    app.run()

In [33]:
x="name:narsimha,age;23,deg:Software"
a=x.replace(";",":")
c={}
d=a.split(',')
for i in d:
    k,v=i.split(':')
    c[k]=v
print(c)

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [ ]:
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [ ]:
x="name:narsimha,age;23,deg:Software"
a=x.split(',')
d={}
[{'name': 'vasu', 'id': '1'}, {'name': 'raju', 'id': '2'}, {'name': 'vasu', 'id': '3'}]

In [34]:
a='vasu:1,raju:2,vasu:3'
b=[]
c=a.split(',')
for i in c:
    name,id=i.split(':')
    b.append({'name':name,'id':id})
print(b)

[{'name': 'vasu', 'id': '1'}, {'name': 'raju', 'id': '2'}, {'name': 'vasu', 'id': '3'}]

In [35]:
a=['vasu:1','raju:2','vasu:3']
s=['name','id']
b=a[0]
c=b.split(':')
for i in c:
    x=dict(zip(s,c))
print(x)

{'name': 'vasu', 'id': '1'}

In [23]:
a=['vasu:1','raju:2','vasu:3']
s=['name','id']
b,c,d=a[0],a[1],a[2]
g,h,k=b.split(':'),c.split(':'),d.split(':')
w=dict(zip(s,g))
w

{'name': 'vasu', 'id': '1'}

In [24]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
x=[]
y=[]
for key,value in a.items():
    x.append(key)
    y.append(value)
s=x[::-1]
f=y[::-1]
z=dict(zip(s,f))
z

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [1]:
x=int(input("Enter number under  :"))
a=[1,2,3,4,5,6,7,8,9,10]
b=['one','two','three','four','five','six','seven','eight','nine','ten']
c=dict(zip(a,b))
print(c[x])

Enter number under  :3
three

In [18]:
a={'name':'vasu','id':3,'deg':15,'amount':25} 
c=''
d=''
for i,j in a.items():
    c=c+i
    d=d+str(j)
print(len(c)+len(d))

24

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): 
    dic4.update(d)
print(dic4)

In [ ]:
x=int(input("enter a number : "))
dic=dict()
for i in range(1,x+1):
    dic[i]=x**2
print(dic)

In [86]:
x=int(input("Enter number between 1 to 110 :"))
if x>110:
    print("Your number range is out of limit re enter number")
elif x<=0:
    print("Please enter the positive number ")
else:
    b = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    b1=['one','two','three','four','five','six','seven','eight','nine','ten','eleven','twelve','thirteen','fourteen','fifteen','sisteen','seventeen','eighteen','nineteen','twenty']
    c = ['one','two','three','four','five','six','seven','eight','nine','']
    d = ['twenty','thirty','fourty','fifty','sixty','seventy','eighty','ninety','hundred']
    klm=[30,40,50,60,70,80,90,100]
    double=['thrity','fourty','fifty','sixty','seventy','eighty','ninety','hundred']
    y=[]
    rr=[]
    
    for i in d:
        for j in c:
            add=i+' '+j
            y.append(add)
            
    for k in range(21,111):
        rr.append(k)
    md = dict(zip(rr,y))

    if x in b:
        ss=dict(zip(b,b1))
        print(ss[x])

    elif x in klm:
        mama=dict(zip(klm,double))
        print(mama[x])

    else:
        print(md[x])

Enter number between 1 to 110 :-22
Please enter the positive number

In [13]:
list_val=[{'name':'ravi','id':1},{'name':'hari','id':2},{'name':'gani','id':3}]

x=str(list_val)
print(x)

[{'name': 'ravi', 'id': 1}, {'name': 'hari', 'id': 2}, {'name': 'gani', 'id': 3}]

In [2]:
 a={'name':'vasu','id':3,'deg':15,'amount':25}
x=[]
y=[]
for key,value in a.items():
    x.append(key)
    y.append(value)
s=x[::-1]
f=y[::-1]
z=dict(zip(s,f))
z

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [3]:
x="name:narsimha,age;23,deg:Software"
a=x.replace(";",":")
c={}
d=a.split(',')
for i in d:
    k,v=i.split(':')
    c[k]=v
print(c)

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [19]:
i = [{'name':'hari','id':1},{'name':'ganesh','id':2},{'name':'simha','id':3}]
x=[]
print(x)

{'name': 'hari', 'id': 1}

In [24]:
x=[{"name":"hari","id":1},{"name":"ganesh","id":2},{"name":"simha","id":2},{"name":"hari","id":1}]
y=[]
for i in x:
    if i not in y:
        y.append(i)
print(y)

[{'name': 'hari', 'id': 1}, {'name': 'ganesh', 'id': 2}, {'name': 'simha', 'id': 2}]

In [1]:
s='qsdfghjkjhgfdsssdfvghjhgfdssdfghjkjhgfdsasdrtgyujijhgfds'
y={}
for i in s:
    if i not in y.keys():
        y[i]=1
    else:
        y[i]=y[i]+1
print(y)

{'q': 1, 's': 9, 'd': 8, 'f': 7, 'g': 8, 'h': 7, 'j': 7, 'k': 2, 'v': 1, 'a': 1, 'r': 1, 't': 1, 'y': 1, 'u': 1, 'i': 1}

In [6]:
x=[{"name":"hari","id":25},{"name":"ganesh","id":24},{"name":"sai","id":23},{"name":"sai","id":23}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['name']>x[j]['name']:
            x[i],x[j]=x[j],x[i]
temp=[]
for i in x:
    if i not in temp:
        temp.append(i)
print(x)
print(temp)

[{'name': 'ganesh', 'id': 24}, {'name': 'hari', 'id': 25}, {'name': 'sai', 'id': 23}, {'name': 'sai', 'id': 23}]
[{'name': 'ganesh', 'id': 24}, {'name': 'hari', 'id': 25}, {'name': 'sai', 'id': 23}]

In [11]:
l = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
x=[]
for i in l:
    for j in i.values():
        x.append(j)
print(set(x))

{'S001', 'S005', 'S002', 'S007', 'S009'}

In [17]:
l=[{'name':'ravi','age':12,'sal':20000},{'name':'sai','age':13,'sal':30000},{'name':'mani','age':32,'sal':10000}]
for i in l:
    if i['sal']>=20000:
        print(i)

{'name': 'ravi', 'age': 12, 'sal': 20000}
{'name': 'sai', 'age': 13, 'sal': 30000}

In [22]:
a={'name':'vasu', 'amount':40}
c=0
for i,j in a.items():
    c=c+len(i)+len(str(j))
print(c)

16

In [26]:
d={'a':3,'b':5,'c':2,'d':1,'e':-2}
x=[]
y=[]
for k,v in d.items():
    x.append(k)
    y.append(v)
a=x[::-1]
b=y[::-1]
z=dict(zip(a,b))
print(z)

{'e': -2, 'd': 1, 'c': 2, 'b': 5, 'a': 3}

In [36]:
A=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
for i in A:
    c=0
    l=[]
    for j in i['city']:
        c+=1
        if j[0]=='A':
            l.append(j)
            i['city']=c
            i['citywitha']=l
print(A)

[{'name': 'AP', 'city': 3, 'citywitha': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 3, 'citywitha': ['Abd', 'Ade']}]

In [35]:
data = [  
    { "name": 'rajiv',  "reportsTo": 1, "id": 2 },
    { "name": 'manoj',  "reportsTo": 4, "id": 1 },
    { "name": 'kishore',"reportsTo": 2, "id": 5 },
    { "name": 'nanda', "reportsTo": 1, "id": 6 }   
]
x=[]
d={}
for i in data:
    for j in data:
        if i['id']==j['reportsTo']:
            x.append(j)
            d[i['name']]=x
print(d)

{'rajiv': [{'name': 'kishore', 'reportsTo': 2, 'id': 5}, {'name': 'rajiv', 'reportsTo': 1, 'id': 2}, {'name': 'nanda', 'reportsTo': 1, 'id': 6}], 'manoj': [{'name': 'kishore', 'reportsTo': 2, 'id': 5}, {'name': 'rajiv', 'reportsTo': 1, 'id': 2}, {'name': 'nanda', 'reportsTo': 1, 'id': 6}]}

[{'name': 'AP', 'city': 3, 'citiwithA': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 3, 'citiwithA': ['Abd', 'Ade']}]

In [15]:
x={"name": "vasu","id": "1234567"}
sum=0
for i,j in x.items():
    sum=sum+len(i)+len(j)
print(sum)

17

In [20]:
a=10
b=20
c=30
x=[a,b,c]
max=x[0]
for i in x:
    if i>max:
        max=i
print(max)

30

In [21]:
a=10
b=20
c=30
if a>b:
    print(a)
elif b>c:
    print(b)
else:
    print(c)

30

In [56]:
x=5
for i in range(3):
    for j in range(3):
        if j%1==0:
            print("*",end=' ')
    print()

* * *
* * *
* * *

In [120]:
size = 5  # size of the pattern
for i in range(size):
    for j in range(size):
        if i == j: #or i + j == size - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*
 *
  *
   *
    *

In [146]:
n=int(input("enter a number : "))
for i in range(n):
    if i==0 or i==4:
        print("*****")
    elif i==1 or i==3:
        print("** **")
    else:
        print("*   *")

enter a number : 10
*****
** **
*   *
** **
*****
*   *
*   *
*   *
*   *
*   *

In [147]:
row = int(input('Enter number of row: '))

# Upper part of diamond
for i in range(1, row+1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower part of diamond
for i in range(row-1,0, -1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

Enter number of row: 3
  *
 ***
*****
 ***
  *

In [151]:
def temparature(temp):
    print((temp- 32)/1.8)
temparature(30)

-1.1111111111111112

In [158]:
s=float(input("enter a temparature"))
def temparature(temp):
    print((temp- 32)/1.8)
temparature(s)

enter a temparature23
-5.0

In [179]:
x=[[1,2,3],[3,4,2],[4,6,1]]
y=[]
for i in x[0]:
    if i in x[1] and x[2]:
        y.append(i)
print(y)

[2, 3]

In [29]:
x=[[1,2,3],[3,4,2],[4,2,6,1]]
n=[]
for i in x[0]:
    for j in x[1]:
        for k in x[2]:
            if i==j and j==k:
                n.append(k)
n

[2]

In [57]:
x=[[1,2,3],[3,4,2],[4,6,1]]
a=x[0]
b=x[1]
c=x[2]
new=[]
for i in a:
    for j in b:
        for k in c:
            if i==j and j==k:
                new.append(i)
print(new)

[]

In [81]:
z=[[1,2,3,4],[3,4,6],[1,2,4,3,8]]
d=[]
for i in z[0]:
    for j in z[1]:
        for k in z[2]:
            if i==j and j==k:
                d.append(i)

print(d)

[3, 4]

In [36]:
class myclass():
    comp='Mouritech'
    def __init__(self,name,age,ph):
        self.name=name
        self.age=age
        self.ph=ph
    def info(self):
        print(self.name,self.age,self.ph)
my= myclass('Narsimha',23,9014972263)
c=my.info()
c

Narsimha 23 9014972263

In [16]:
class MobleException(Exception):
    pass
try:
    num = input("Enter a number : ")
    if int(num) < 10 and num[0]!='9':
        raise MobleException("num is must be ten digits and start with 9")
    else:
        print("Number is correct")
except MobleException as e:
    print(e)

Enter a number : 123
Number is correct

In [33]:
class AgeCheck(Exception):
    pass

try:
    age = int(input("Enter your age: "))
    if age < 18:
        raise AgeCheck("You are not eligible to vote.")
    else:
        print("You are eligible to vote.")
except AgeCheck as e:
    print(e)

Enter your age: 21
You are eligible to vote.

In [178]:
my_list = [[1,2,3],[1,2,3,],[1,2,3,4,]]
li = []
for i in my_list:
    for j in i:
        # print(j)
        if j in li:
            pass
        else:
            li.append(j)
print(li)

[1, 2, 3, 4]

In [149]:
n=int(input("enter a number : "))
for i in range(1,n+1):
    for j in range(1,)

1
2
3

In [44]:
n = 5 
for i in range(n):
    for j in range(n):
        if i == 0 or j == 0 or i == n-1 or j == n-1 or i == j or i + j == n-1:
            print('*', end=' ')
        else:
            print(' ', end=' ')
    print()

* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [46]:
n = int(input("Enter:"))
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print("*", end=" ")
    for j in range(2*(n-i)):
        print(" ", end=" ")
    for j in range(i, 0, -1):
        print("*", end=" ")
    print()
for i in range(n):
    for j in range(0, i+1):
        print("*", end=" ")
    for j in range(2*(n-i-1)):
        print(" ", end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

Enter:3
* * * * * *
* *     * *
*         *
*         *
* *     * *
* * * * * *

In [113]:
n=int(input('Enter a number : '))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')

Enter a number : 5
5 4 3 2 1 4 3 2 1 3 2 1 2 1 1

In [7]:
x={"name": "vasu","id": "1234567"}
a=''
b=''
for i,j in x.items():
        a=a+i
        b=b+j
z=len(a)+len(b)
print(z)

17

In [56]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
b=a.replace(' ',',')
c=b.split(',')
d=[]
for i in range(len(c)):
    if i%2 != 0:
        zz = c[i]
        z = zz[::-1]
        d.append(z)
    else:
        d.append(c[i])
print(d)

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [66]:
a=[2,3,5,7,1,6,4]
y=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
            
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [70]:
 [{'name': 'AP', 'city': 5, 'citywitha': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 5, 'citywitha': ['Abd', 'Ade']}]

a
b
c
d
e

In [14]:
dic=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
withA=[]
d=dic[0]
ll=d['city']
for i in ll:
    if i[0]=="A" or i[0]=='a':
        withA.append(i)

print(withA)   
print(len(ll))

['Amravathi', 'Anakala']
5

In [116]:
a="fb.com?name-rajiv-23?age"
x={}
b=a.split('?')[1]
bB,cc,dd=b.split('-')[2],b.split('-')[1],b.split('-')[0]#23
c=a.split('?')[-1]#age
x[c]=int(bB)
x[dd]=cc
print(x)

{'age': 23, 'name': 'rajiv'}

In [ ]:
The longest palindromic substring: 
Example: Input: "forgeeksskeegfor", 
Output: "geeksskeeg"

In [4]:
x=[21,23,56,78,9,0,98,89,789,87,654,57432345,34,343,23,4,5,6,7,86,5,55,5,4,3,2,3,44,5,5,5,5,65]
y=[]

for i in x:
    if i not in y:
        y.append(i)
print(y)
print(c)

[21, 23, 56, 78, 9, 0, 98, 89, 789, 87, 654, 57432345, 34, 343, 4, 5, 6, 7, 86, 55, 3, 2, 44, 65]
65

In [24]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a=[]
for i in l:
    a.append(i[1])
b=sorted(a)
d=[]
for j in b:
    for m in l:
        if m[1]==j:
            d.append(m)
print(d)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [27]:
a = 'abcfed'
x=list(a)
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]>x[j]:
            x[i],x[j]=x[j],x[i]
print(x)

['a', 'b', 'c', 'd', 'e', 'f']

In [29]:
l=[{'name':'abhi','age':23,'sal':20000},{'name':'vamsi','age':26,'sal':21000}]
for i in l:
    print(i['sal'])

20000
21000

In [35]:
l=[2,3,5,7,6,1,2,4,2]
target=8
for i in  l:
    for j in l:
        if l[i]+l[j]==target:
            print(l[i],l[j])

5 3
7 1
1 7
4 4
2 6
3 5
3 5
3 5
5 3
6 2
5 3

In [39]:
l=[1,2,'abc',4,5,'is',6,7,'jsd']
x=[]
y=[]
for i  in l:
    if type(i)==int:
        x.append(i)
    else:
        y.append(i)
print(x)
print(y)

[1, 2, 4, 5, 6, 7]
['abc', 'is', 'jsd']

In [42]:
a=['america','australia','uk','us','england']
for i in a:
    if i[0]=='a':
        print(i)

america
australia

In [8]:
x=['m','na','i','Nars']
y=['y','me','s','simha']
z=[]
for i in x:
    for j in y:
        if x.index(i)==y.index(j):
            z.append(i+j)
print(z)

['my', 'name', 'is', 'Narssimha']

In [62]:
x=['m','na','i','Nar']
y=['y','me','s','simha']
d=[]
for i in range(len(x)):
    d.append(x[i]+y[i])
print(d)

['my', 'name', 'is', 'Narsimha']

In [68]:
l=['aba','xyz','abc','1221']
a=0
for i in l:
    if i[0]==i[-1]:
        a=a+1
print(a)

2

In [72]:
a=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
d=a[0]
x=d['city']

{'name': 'AP', 'city': ['vizag', 'Amravathi', 'Anakala', 'kur', 'nandyala']}

In [4]:
l=[{'name':'abhi','age':23,'sal':20000},{'name':'vamsi','age':26,'sal':21000},{'name':'ravi','age':23,'sal':19000},{'name':'shiva','age':24,'sal':18000}]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]['age']<l[j]['age']:
            l[i],l[j]=l[j],l[i]
print(l)

[{'name': 'vamsi', 'age': 26, 'sal': 21000}, {'name': 'shiva', 'age': 24, 'sal': 18000}, {'name': 'ravi', 'age': 23, 'sal': 19000}, {'name': 'abhi', 'age': 23, 'sal': 20000}]

In [30]:
a=[{ 'name': 'andhra', 'city': ['nellore', 'guntur'] }, { 'name': 'telangana', 'city': ['Hyd', 'varangal'] }]
b=a[0]
for i in b:
    c=[]
    for j in i['city']:
        if j=='city':
            c.append(j)

TypeError: string indices must be integers

In [ ]:
output: {states:['andhra','telangana'],cities:[{name:'nellore',state:'andhra'},{name:'guntur',state:'andhra'}]}

In [12]:
a={"name":'andhra'}
b=['narsimha','23']
a['states']=b
print(a)

{'name': 'andhra', 'states': ['narsimha', '23']}

In [11]:
b=['narsimha','23']
g={"name":88}
g["sates"]=b
print([(g)])

[{'name': 88, 'sates': ['narsimha', '23']}]

In [ ]:
A=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
for i in A:
    c=0
    l=[]
    for j in i['city']:
        c+=1
        if j[0]=='A':
            l.append(j)
            i['city']=c
            i['citywitha']=l
print(A)

In [ ]:
a=[{ 'name': 'andhra', 'city': ['nellore', 'guntur'] }, { 'name': 'telangana', 'city': ['Hyd', 'varangal'] }]
#  output: {states:['andhra','telangana'],cities:[{name:'nellore',state:'andhra'},{name:'guntur',state:'andhra'}]}

In [7]:
a='narsimha \'chellaboina'
s="'yes',\'they said'"
b='''\Hello narsimha today topics 
will               strings
2nd                  list comprension
3rd                 practice '''
print(b)

\Hello narsimha today topics
will               strings
2nd                  list comprension
3rd                 practice

In [43]:
name='narsimha'
# print(name.capitalize())
# print(name.casefold())
# print(name.center(30,'$'))
# print(name.count('a'))
# print("U2FsdGVkX18CzbZGG1HcCDxKZ8b4nL+sNUClMWs+FDU=".encode('utf-8'))
# x="123Narsimha-¶" 
# print(x.encode('ascii',errors='xmlcharrefreplace'))
# y="¶"
# print(y.encode())
# x='\tNarsimha\t\t ch'
# print(x.expandtabs(2))
# x='random'
# print(x.index('and',0,5))

1

In [38]:
s1="Kalyani "
s2="vicky "
s3=''
for i in s1:
    for j in s2:
        if i==j:
            break
    s3=s3+j
s3

'   y  i '

In [5]:
a='narsimha'
x=0
for i in a:
    x=x+1
x

8

In [16]:
s='google.com'
d={}
for i in s:
    keys=d.keys()
    if i in keys:
        d[i] += 1
    else:
        d[i]=1
d

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [44]:
a='jklerftuio'
if len(a)<0:
    print('')
else:
    print(a[0:2]+a[-2:])

jkio

In [54]:
s='eestakt'
a=s[0]
s=s.replace(a,'$')
b=a+s[1:]
b

'e$stakt'

In [65]:
x='abc'
y='xyz'
a=y[-3:-1]+x[-1]
b=x[:2]+y[-1]
z=a+b
z

'xycabz'

In [91]:
a='abcer'
if len(a)>2:
    if a[-3:]=='ing':
        a+='ly'
    else:
        a+='ing'
print(a)

abcering

In [125]:
s='The lyrics is not that poor!'
snot=s.find('not')
spoor=s.find('poor')
if spoor>snot and snot > 0 and spoor > 0:
    s=s.replace(s[snot:spoor+4],'good')
    print(s)
else:
    print(s)

The lyrics is good!

In [12]:
x=['narsimha','chellaboina','goud']
max1=x[0]
for i in x:
    if len(i)>len(max1):
        max1=i
print(max1)
print(len(max1))

chellaboina
11

In [13]:
n=int(input("Enter index numder : "))
x=input("Enter a string : ")
a=x[:n]
b=x[n+1:]
print(a+b)

Enter index numder : 2
Enter a string : python
pyhon

In [21]:
x='Narsimha'
a=x[0]
b=x[-1]
c=x[1:-1]
z=b+c+a
z

'aarsimhN'

In [27]:
x='narsimha'
y=''
for i in range(len(x)):
    if i%2==1:
        y=y+x[i]

'asma'

In [37]:
x='Hi everyone today day is my day the universe formation day'
y=x.split()
d={}
for i in y:
    keys=d.keys()
    if i in keys:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'Hi': 1, 'everyone': 1, 'today': 1, 'day': 3, 'is': 1, 'my': 1, 'the': 1, 'universe': 1, 'formation': 1}

In [40]:
x=input("Enter a sequence of strings : ")
y=x.split(',')
for i in range(len(y)):
    for j in range(i+1,len(y)):
        if y[i]>y[j]:
            y[i],y[j]=y[j],y[i]
y

Enter a sequence of strings : narsimha,amul,zibra

['amul', 'narsimha', 'zibra']

In [43]:
x='python'
a=x[-2:]
b=a*4
b

'onononon'

In [47]:
x='pyTHon'
s=0
for i in x[:4]:
    if i.upper()==i:
        s=s+1
if s>=2:
    print(x.upper())
else:
    print(x)
print(s)

PYTHON
2

In [50]:
x = 3.1415926
y = -12.9999
print("{:+.3f}".format(x))

+3.142

In [118]:
n=3
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i):
        print(' ',end=' ')
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,n):
#         if i== 0 or i==1:
            
        print('*',end=' ')
    
    print()

* * * * * *
* *     * *
*         *

*
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [120]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [125]:
n=5
for i in range(n):
    for j in range(n):
        if (j==0 or j==n-1):
            print('*',end=' ')
        else:
            print('  ',end=' ')
    print()

*          *
*          *
*          *
*          *
*          *

In [127]:
n=5
for i in range(n):
    for j in range(n):
        if (i==n//2 or j==n//2):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

    *
    *
* * * * *
    *
    *

In [137]:
n=5
for i in range(n):
    for j in range(n):
        if (i==j or j+j==n-1):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*   *
  * *
    *
    * *
    *   *

In [198]:
n=5
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1  :
            print('*' ,end=' ')
        elif i==1 and j==n-1:
            print('*',end=' ')
        else:
            print(' ' ,end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [145]:
n=5
for i in range(n):
    for j in range(i+1):
        if i==n-1 or j==0 or i==j:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [188]:
n=5
for i in range(n):
    for j in range(i,n):
        if i==0 or j==i or j==n-1:  
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*     *
*   *
* *
*

In [161]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        if i==n-1 or  j==0:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    for j in range(i+1):
        if i==n-1 or j==i:
            print('*',end=' ')
        else:
            print(' ',end=' ')
        
    print()

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [207]:
rows = 5
columns = 5

# Outer loop to iterate through each row
for i in range(rows):
    # Inner loop to iterate through each column
    for j in range(columns):
        # Check if we're in one of the outer edges or on the diagonal lines
        if j == i or j == columns - 1 - i:
            # Print an asterisk
            print("*", end="")
        else:
            # Print a space
            print(" ", end="")
    # Move to the next line after each row is printed
    print()

*   *
 * *
  *
 * *
*   *

In [205]:
n=5
for i in range(n):
    for j in range(n):
        if i==0 or j==0 or i==n-1 or j==n-1 or (i == 2 and j == 2) :
            print('*' ,end=' ')
        
        else:
            print(' ' ,end=' ')
    print()

* * * * *
*       *
*   *   *
*       *
* * * * *

In [ ]:
#list problems

In [212]:
x=1234
sum=0
while (x>0):
    rem=x%10
    sum=sum+rem
    x=x//10
print(sum)

10

In [2]:
s=[2,3,4,5]
x=0
for i in s:
    x=x+i
x

14

In [4]:
s=[2,3,4]
x=1
for i in s:
    x=x*i
x

24

In [8]:
x=[5,6,7,33,45,6,87]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]<x[j]:
            x[i],x[j]=x[j],x[i]
print(x[0])

87

In [9]:
x=['abc', 'xyz', 'aba', '1221']
count=0
for i in x:
    if i[0]==i[-1]:
        count=count+1
print(count)

2

In [15]:
x=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
b=[]
for i in x:
    b.append(i[1])
y=sorted(b)
c=[]
for k in y:
    for l in x:
        if l[1]==k:
            c.append(l)
c

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [21]:
a = [10,20,30,20,10,50,60,40,80,50,40]
b=[]
for i in a:
    if i not in b:
        b.append(i)
k=[]
for j in a:
    if a.count(i)>1 and i not in k:
        k.append(i)
print(b)
print(k)

[10, 20, 30, 50, 60, 40, 80]
[40]

In [26]:
x=[]
if not x:
    print('NONE')
else:
    print(x)

NONE

In [31]:
x='Narsimha chellaboina is employee of mouri tech company'
n=5
d=[]
y=x.split()
for i in y:
    if len(i)>n:
        d.append(i)
d

['Narsimha', 'chellaboina', 'employee', 'company']

In [7]:
x=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
y=[]
for i in range(len(x)):
    if i not in (0,4,5):
        y.append(x[i])
y

['Green', 'White', 'Black']

In [9]:
l=[]
for i in range(1,31):
    x=i**2
    l.append(x)
print(l[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [11]:
s = ['a', 'b', 'c', 'd']
x=''.join(s)
x

'abcd'

In [22]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
x=set(list1)
y=set(list2)
z=list(x-y)
k=list(y-x)
o=z+k
o

[9, 3, 5, 8, 2, 4, 6]

In [25]:
nums = [5, 15, 35, 8, 98]
for i , j in enumerate(nums):
    print(i,j)

0 5
1 15
2 35
3 8
4 98

In [30]:
x=[[2,4,3],[1,5,6], [9], [7,9,0]]
s=str(x)
s=s.replace('[',' ')
s=s.replace(']',' ')
s=s.replace(',',' ')
s=s.split()
s

['2', '4', '3', '1', '5', '6', '9', '7', '9', '0']

In [31]:
my_list = [10,10,10,10,20,20,20,20,40,40,50,50,30]
d={}
for i in my_list:
    keys=d.keys()
    if i in keys:
        d[i]+=1
    else:
        d[i]=1
d

{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}